<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JY_Cake_it2"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="c78ktzoog4" />
        <activity
            android:name=".JY.shop_order"
            android:exported="false" />
        <activity
            android:name=".JY.user_order"
            android:exported="false" />
        <activity
            android:name=".JY.Detail_Post_Exemple"
            android:exported="false" />
        <activity
            android:name=".JY.bid_user"
            android:exported="false" />
        <activity
            android:name=".JY.activity_shopsignup"
            android:exported="false" />
        <activity
            android:name=".JY.LoginShop"
            android:exported="false" />
        <activity
            android:name=".JY.activity_browse"
            android:exported="false" />
        <activity
            android:name=".JY.activity_signup"
            android:exported="false" />
        <activity
            android:name=".JY.Login_main"
            android:exported="true"
            android:label="JY_Cake_it2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JY.MainActivity" />
        <activity android:name=".JY.DetailActivity1" />
        <activity android:name=".JY.DetailActivity2" />
    </application>

</manifest>